nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                router-link.nav-link(:to="{ name: 'home' }" exact)
                    | Home
            li.nav-item
                router-link.nav-link(:to="{ name: 'realtime-posts' }")
                    | Realtime App