div
    .row
        .col-xl-6.col-md-6
            h3 Users
        .col-xl-6.col.md-6.text-right
            button.btn.btn-success(data-toggle="modal" data-target="#newUserModal")
                i.fa.fa-plus
                | Add New User
    .table-responsive.text-center(v-if="getUsers")
        table.table.table-striped.table-hover
            thead
                tr
                    th ID
                    th Name
                    th Email
                    th Created At
                    th Last Updated
                    th Actions
            tbody
                tr.user-row(v-for="user in getUsers" :key="user.id")
                    td {{ user.id }}
                    td {{ user.name }}
                    td {{ user.email }}
                    td {{ user.created_at }}
                    td {{ user.updated_at }}
                    td.text-white
                        router-link.btn.btn-primary(:to="{ name: 'user-show', params: { id: user.id } }")
                            i.fa.fa-eye
                        router-link.btn.btn-info(:to="{ name: 'user-edit', params: { id: user.id } }")
                            i.fa.fa-edit
                        button.btn.btn-danger(@click="deleteUser(user.id)")
                            i.fa.fa-trash
    newUserModal